.row {
  display: flex;
}

button.lifeBtn {
  border: 0;
  background-color: #fff;
}

button.lifeBtn:focus {
  outline: 0;
}

.lifeBtn.cell {
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
}

.lifeBtn.cell:last-child {
  border-right: 0;
}

.control-section {
  margin: 1rem;
}

.gameBtn {
  padding: .2rem 1rem;
  font-size: 1rem;
  border: .1rem solid black;
  background-color: orange;
  margin-right: 1rem;
}

.gameBtn:focus {
  outline: 0;
}

.lifeBtn.cell.alive {
  background-color: #5757f1;
}